.mine-setting {
  width: 100%;
  height: calc(100vh - 180rpx);
  background-color: #f5f6fa;
  display: flex;
  flex-direction: column;
  font-family: "DingTalk JinBuTi";
  &-content {
    width: 86%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20rpx;
    &-item {
      width: 100%;
      background-color: #fff;
      border-radius: 20rpx;
      min-height: 120rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 20rpx;
      padding-left: 40rpx;
      > .item-content {
        > .avatar-img {
          width: 128rpx;
          height: 128rpx;
          border-radius: 50%;
          margin: 20rpx 0;
          background-color: #f5f6fa;
        }

        > .edit-input {
          font-size: 36rpx;
          color: #1a1a1a;
        }

        > .disabled-text {
          font-size: 36rpx;
          color: #1a1a1a;
        }
      }
      > .item-title {
        font-size: 32rpx;
        color: #979798;
        > .item-icon {
          height: 18rpx;
          margin-left: 34rpx;
        }
      }
    }
  }
  &-footer {
    position: absolute;
    left: 50%;
    bottom: 150rpx;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90rpx;
    > .mine-setting-btn {
        width: 400rpx;
        height: 90rpx;
        background-color: #12B858;
        border-radius: 40rpx;
        font-size: 36rpx;
        line-height: 90rpx;
        color: #fff;
    }
  }
}

.input-placeholder {
  font-size: 36rpx;
  color: #1a1a1a;
  font-family: "DingTalk JinBuTi";
}

.none {
  display: none;
}
