.albumWindow {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rpx;
  z-index: 130;
  transform: translateY(100%);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &.show {
    transform: translateY(0);
  }

  &-btn {
    width: 100%;
    height: 134rpx;
    background-color: #18181B;
    color: #fff;
    font-size: 46rpx;
    line-height: 134rpx;
    border-radius: 0;
  }
}

.mask {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 120;
  
  &.show {
    opacity: 1;
    
    + .albumWindow {
      transform: translateY(0);
    }
  }
}