.community {
    width: 90%;
    height: 626rpx;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 16rpx 16rpx 0 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      background-color: transparent;
    }
    &-title {
      padding-top: 24rpx;
      width: 90%;
      margin: 0 auto;
      height: 64rpx;
      display: flex;
      position: sticky;
      top: 0;
      background-color: #fff;
      &-item {
        width: 50%;
        height: 100%;
        font-family: simHei;
        font-size: 26rpx;
        color: #3d3d3d;
        text-align: center;
        line-height: 64rpx;
        border-radius: 16rpx;
      }
    }
    &-list {
      width: 90%;
      height: auto;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      &-item {
        width: 100%;
        height: 196rpx;
        box-sizing: border-box;
        border-width: 0rpx 0rpx 1rpx 0rpx;
        border-style: solid;
        border-color: #f2f2f7;
        display: flex;
        gap: 32rpx;
        &-left {
          padding: 24rpx 0;
          width: 450rpx;
          display: flex;
          flex-direction: column;
          gap: 24rpx;
        }
        &-right {
          padding: 24rpx 0;
          height: 148rpx;
        }
      }
    }
  }
  