.knowledge {
  width: 100%;
  height: 626rpx;
  display: flex;
  &-sidebar {
    width: 230rpx;
    height: 626rpx;
    background: #f1f1f1;
    box-shadow: 0px 8rpx 20rpx 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 5rpx;
    position: relative;
    &-item {
      width: 230rpx;
      height: 82rpx;
      text-align: center;
      line-height: 82rpx;
      color: "#3D3D3D";
      background: #f1f1f1;
      box-shadow: 0px 8rpx 20rpx 0px rgba(0, 0, 0, 0.3);
      z-index: 2;
    }
  }
  &-content {
    width: calc(100vw - 230rpx);
    height: 626rpx;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    &-img {
      width: 528rpx;
      height: 592rpx;
    }
  }
}

.side-active {
  position: absolute;
  z-index: 1;
  right: -20rpx;
  width: 40rpx;
  height: 40rpx;
  transform: rotate(-46.97deg);
  background: #eeeeee;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}
