.album-window {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 2rpx;
    font-family: 'DingTalk JinBuTi';
    &-btn {
        width: 100%;
        height: 134rpx;
        background-color: #18181B;
        color: #fff;
        font-size: 46rpx;
        line-height: 134rpx;
        border-radius: 0;
    }
}