.classify {
    width: 100%;
    height: calc(100vh - 180rpx);
    background-color: #F5F6FA;
    display: flex;
    gap: 50rpx;
    flex-direction: column;
    align-items: center;
    font-family: "DingTalk JinBuTi";
    &-title {
        height: 100rpx;
        font-size: 36rpx;
        color: #3D3D3D;
        line-height: 140rpx;
    }
    &-item {
        width: 90%;
        height: 340rpx;
        border-radius: 68rpx;
        display: flex;
        gap: 54rpx;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 28rpx 74rpx -20rpx rgba(100, 100, 100, 0.7);
        &-img {
            height: 180rpx;
        }
        &-text {
            font-size: 72rpx;
            color: #3D3D3D;
        }
    }
}