.exam-test-choice {
    width: 84%;
    height: 240rpx;
    display: flex;
    flex-direction: column;
    padding: 32rpx;
    align-items: center;
    gap: 32rpx;
    border-radius: 24rpx;
    background-color: #fff;
    z-index: 2;
    margin: 10rpx 0;
    flex-shrink: 0;
    font-family: 'DingTalk JinBuTi';
    > .title {
        width: 100%;
        display: flex;
        gap: 30rpx;
        align-items: center;
        > .title-icon {
            height: 40rpx;
        }
        > .title-text {
            font-size: 28rpx;
            color: #3D3D3D;
        }
    }
    > .condition {
        width: 100%;
        height: 76rpx;
        display: flex;
    }
    > .btn {
        width: 100%;
        height: 74rpx;
        background-color: rgba(226, 246, 235);
        border-radius: 12rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10rpx;
        > .btn-text {
            font-size: 28rpx;
            color: #12B858;
        }
        > .btn-img {
            height: 20rpx;
        }
    }
}

.ConditionItem {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rpx;
    > .number {
        text-align: center;
        font-size: 36rpx;
        color: #1A1A1A;
    }
    > .red-font {
        color: #F5222D;
    }
    > .green-font {
        color: #12B858;
    }
    > .type {
        text-align: center;
        font-size: 24rpx;
        color: #8C8C8C;
    }
}