.loginBegin-container {
    width: 100%;
    height: 600rpx;
    background-color: #fff;
    border-radius: 40rpx 40rpx 0 0;
    position: relative;
    font-family: 'DingTalk JinBuTi';
    > .close-icon {
        position: absolute;
        top: 40rpx;
        left: 40rpx;
        width: 42rpx;
        height: 46rpx;
    }
    > .welcome-text {
        font-size: 72rpx;
        width: 70%;
        margin: 0 auto;
        text-align: center;
        white-space: pre-wrap;
        padding-top: 94rpx;
        padding-bottom: 20rpx;
    }
    > .login-btn {
        width: 80%;
        height: 90rpx;
        background-color: #91BF63;
        border-radius: 32rpx;
        font-size: 48rpx;
        line-height: 90rpx;
        color: #fff;
        font-family: SimHei;
    }
    > .agree-container {
        width: 80%;
        margin: 0 auto;
        padding-top: 20rpx;
        display: flex;
        flex-direction: row;
        gap: 20rpx;
        > .agree-btn {
            width: 30rpx;
            height: 30rpx;
            border-radius: 100rpx;
            border: 1rpx solid #979797;
            background-color: #fff;
            &.is-agree {
                background-color: #91BF63;
            }
        }
        > .agree-text {
            font-size: 28rpx;
            color: #A1A4B2;
        }
    }
}
