.examination {
  width: 100%;
  height: 100vh;
  background-color: #f5f6fa;
  position: relative;
  &-back {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }
  &-gap {
    width: 100%;
    height: 170rpx;
  }
  &-gap-btm {
    width: 100%;
    height: 60rpx;
  }
}
