.index {
  position: absolute;
  top: 180rpx;
  width: 100%;
  height: calc(100vh - 180rpx);
  background-color: #f5f6fa;
  font-family: "DingTalk JinBuTi";
  &-header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &-img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    &-text {
      position: absolute;
      z-index: 1;
      top: 66rpx;
      left: 70rpx;
      display: flex;
      flex-direction: column;
      gap: 20rpx;
      color: #fff;
    }
    &-info {
      width: 100%;
      background-color: #fff;
      height: 76rpx;
      // padding: 0 32rpx;
      display: flex;
      align-items: center;
      border-radius: 16rpx;
      gap: 24rpx;
      margin-bottom: 36rpx;
    }
    &-choice {
      width: 100%;
      height: 136rpx;
      display: flex;
      gap: 20rpx;
      &-item {
        width: calc((100% - 60rpx) / 4);
        height: 120rpx;
        background-color: #fff;
        border-radius: 16rpx;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16rpx;
        font-size: 28rpx;
      }
    }
    &-search {
      margin-top: 10rpx;
      width: 100%;
      height: 72rpx;
      display: flex;
      align-items: center;
      background-color: #fff;
      border-radius: 16rpx;
      gap: 16rpx;
      margin-bottom: 18rpx;
    }
  }
  &-kowledge {
    width: 100%;
    height: 626rpx;
    display: flex;
    gap: 10rpx;
  }
}

.incon {
  width: 20rpx;
  height: 20rpxx;
  background-color: #000;
}

.line {
  width: 32rpx;
  height: 0px;
  transform: rotate(90deg);
  z-index: 1;
  border-top: 4rpx solid #ececec;
}

.placehoderStyle {
  font-family: DingTalk JinBuTi;
  font-size: 28rpx;
  color: #bfbfbf;
}
