.finished {
  font-family: "DingTalk JinBuTi";
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #f5f6fa;
  &-title {
    padding-top: 100rpx;
    width: 100%;
    height: 78rpx;
    display: flex;
    font-size: 32rpx;
    color: #3d3d3d;
    line-height: 78rpx;
    gap: 20rpx;
    padding-left: 80rpx;
  }
  &-content {
    width: calc(100% - 80rpx - 78rpx - 52rpx);
    padding-left: 158rpx;
    height: inherit;
    font-size: 32rpx;
    letter-spacing: -0.4rpx;
    color: #3d3d3d;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 50rpx;
  }
}
