.mineHome {
  font-family: "DingTalk JinBuTi";
  background-color: #f5f6fa;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 180rpx);
  width: 100%;
  gap: 24rpx;
  &-userColumn {
    @extend .nine-middle;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-avatar {
      height: 128rpx;
      width: 128rpx;
      border-radius: 50%;
      background-color: #7c7c80;
    }
    &-name {
      width: 380rpx;
      font-size: 36rpx;
      color: #1a1a1a;
    }
    &-sever {
      width: 132rpx;
      height: 52rpx;
      border-radius: 48rpx;
      background: linear-gradient(180deg, #1cc165 0%, #1ec87c 100%);
      font-size: 26rpx;
      color: #fff;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &-orderColumn {
    @extend .nine-middle;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 196rpx;
    background-color: #fff;
    border-radius: 24rpx;
    &-item {
      display: flex;
      flex-direction: column;
      gap: 10rpx;
      align-items: center;
      font-size: 26rpx;
      color: #1a1a1a;
    }
  }
  &-infoColumn {
    @extend .nine-middle;
    display: flex;
    height: 74rpx;
    background: rgba(255, 59, 48, 0.1);
    border-radius: 16rpx;
    justify-content: space-around;
    align-items: center;
    &-text {
      font-size: 28rpx;
      color: #ff3b30;
    }
    &-go {
      font-size: 28rpx;
      color: #12b858;
    }
  }
  &-studyColumn {
    @extend .nine-middle;
    height: 320rpx;
    background-color: #fff;
    border-radius: 24rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &-title {
      font-size: 34rpx;
      color: #1a1a1a;
      width: 90%;
    }
    &-record {
      width: 90%;
      height: 200rpx;
      display: flex;
      flex-direction: row;
      gap: 20rpx;
      &-img {
        width: 310rpx;
        height: 200rpx;
        background-color: #f5f5f5;
        border-radius: 12rpx;
      }
      &-left {
        width: 310rpx;
        height: 200rpx;
        position: relative;
      }
      &-back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12rpx;
        z-index: 2;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &-text {
        width: 152rpx;
        height: 44rpx;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 8rpx;
        font-size: 24rpx;
        line-height: 44rpx;
        color: #12B858;
        margin: 20rpx 20rpx;
      }
      &-right {
        width: 396rpx;
        height: 200rpx;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      &-title {
        font-size: 28rpx;
        color: #8C8C8C;
      }
      &-percent {
        display: flex;
        gap: 10rpx;
        color: #12B858;
        font-size: 24rpx;
        align-items: center;
      }
    }
  }
  &-settingColumn {
    @extend .nine-middle;
    background-color: #fff;
    border-radius: 24rpx;
    &-item {
      width: 96%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 88rpx;
      background-color: #fff;
      border-radius: 24rpx;
      &-img {
        display: flex;
        gap: 20rpx;
        font-size: 32rpx;
        color: #1A1A1A;
      }
    }
  }
}

.nine-middle {
  width: 90%;
  margin: 0 auto;
}
